
@model List<Topic>
<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
           
            <small class="text-muted float-end">Default label</small>
        </div>
        <div class="card-body">
            <h4 class="card-title">Topic</h4>
            <a asp-controller="topic" asp-action="create" class="btn btn-primary">Add topic</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Episode</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/images/topic/@item.ImageUrl" alt="test" height="80px" width="70px"></td>
                                <td>@item.Title</td>
                                <td>@item.Episodes</td>                               
                                <td>
                                    <a asp-controller="product" asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                                    <a asp-controller="product" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                                    @*  <form method="post" asp-action="delete">
                                            <input type="hidden" name="id" value="@item.Id"/>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                         </form> *@
                                    <button onclick="Delete(@item.Id, this)" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function Delete(id, button){
    const url = '/admin/topic/delete';
    const data = {
      id: id,
    };

    const options = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    };

    fetch(url, options)
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        button.parentNode.parentNode.remove();
      })
      .catch(error => {
        console.error('Error:', error);
      });

    }
</script>